body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

h1{
    color : wheat;
}

button{
    color: teal;
    background-color: thistle;
    width: 200px;
    height: 40px;
    font-size: large;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}